@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url('https://tapchi247.com/wp-content/uploads/2015/04/nhung-tac-pham-da-sac-truu-tuong-trong-ve-chan-dung-cua-alessandro-pautasso-2.jpg');
    font-family: 'Poppins' , sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
header {
    width: 85%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
header .menu_side, .song_side {
    position: relative;
    width: 25%;
    height: 95%;
    background-color: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;
}

header .song_side {
    width: 75%;
    background: #0b1320;
}
header .menu_side h1 {
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
    cursor: pointer;
}
header .menu_side span {
    color: rgb(243, 243, 6);
    font-size: 25px;
    font-weight: 700;
}
header .menu_side .playlist {
    margin:  40px 0px 0px 20px;
}
header .menu_side .playlist h4 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}
header .menu_side .playlist h4:hover {
    color: #fff;
}
header .menu_side .playlist h4 span{
    position: relative;
    margin-right: 35px;
}
header .menu_side .playlist h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}
header .menu_side .playlist h4:hover span::before{
    border: 2px solid #fff;
}
header .menu_side .playlist h4 .bi{
    display: none;
}
header .menu_side .playlist .active{
    color: #36e2ec;
}
header .menu_side .playlist .active span{
    display: none;
}
header .menu_side .playlist .active .bi{
    display: flex;
    margin-right: 20px;
}
header .menu_side .menu_song {
    margin: 15px 0;
}
header .menu_side .menu_song .song-list {
    width: 100%;
    height: 490px;
    margin-top: 30px;
}
header .menu_side .menu_song .song-list::-webkit-scrollbar {
    display: none;
}
header .menu_side .menu_song .song-list li{
    position: relative;
    list-style-type: none;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}
header .menu_side .menu_song .song-list li:hover{
    background: rgb(105, 105, 170,.1);
}
header .menu_side .menu_song .song-list li span{
    font-size: 15px;
    font-weight: 600;
    color: #4c5262;
}
header .menu_side .menu_song .song-list li img{
    width: 35px;
    height: 35px;
    margin-left: 15px;
}
header .menu_side .menu_song .song-list li h5{
    font-size: 13px;
    margin-left: 15px;
}
header .menu_side .menu_song .song-list li h5 .subtitle{
    font-size: 10px;
    color: rgb(168, 168, 168);
}
header .menu_side .menu_song .song-list li .bi{
    position: absolute;
    right: 15px;
    font-size: 18px;
}
 header .song_side {
     z-index: 2;
     overflow: auto;
     scroll-behavior: smooth;
 }
 header .song_side::-webkit-scrollbar {
    display: none;
 }
header .song_side::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    background: url('bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: -1;
}
 header .song_side nav{
    width: 90%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 header .song_side nav ul{
    display: flex;
 }
 header .song_side nav ul li{
    position: relative;
    list-style-type: none;
    font-size: 13px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
 }
 header .song_side nav ul li:hover{
   color: #fff;
 }
 header .song_side nav ul li:nth-child(1){
   color: #fff;
 }
 header .song_side nav ul li span{
   position: absolute;
   width: 100%;
   height: 2.5px;
   background: #36e2ec;
   bottom: -5px;
   left: 0;
   border-radius: 20px;
 }
 header .song_side nav .search{
   position: relative;
   width: 40%;
   padding: 1px 10px;
   border-radius: 20px;
   color: gray;
 }
 header .song_side nav .search::before{
     content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 20px;
   background: rgb(184, 184, 184,.1);
   backdrop-filter: blur(5px);
   z-index: -1;
 }
 header .song_side nav .search .bi{
    font-size: 13px;
    padding: 3px 0px 0px 10px;
 }
 header .song_side nav .search input{
    background: none;
    outline: none;
    border: none;
    padding: 0px 10px;
    color: #fff;
    font-size: 12px;
 }
 header .song_side nav .user{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
 }
 header .song_side nav .user img{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #131312;
 }
 header .song_side .content {
     width:90%;
     height: 30%;
     margin: auto;
     padding-top: 20px;
 }
 header .song_side .content h1{
    font-size: 25px;
    font-weight: 600;
 }
 header .song_side .content p{
    font-size: 11px;
    font-weight: 400;
    color: #9f9fa7;
    margin: 5px;
    width: 60%;
 }
 header .song_side .content .buttons{
    margin-top: 15px;
 }
 header .song_side .content .buttons button{
    width: 130px;
    height: 30px;
    border: 2px solid #36e2ec;
    outline: none;
    border-radius: 20px;
    background: #5adae0;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
 }
 header .song_side .content .buttons button:hover{
    border: 2px solid #36e2ec;
    background: none;
    color: #36e2ec;
 }
 header .song_side .content .buttons button:nth-child(2){
    border: 2px solid #36e2ec;
    background: none;
    color: #36e2ec;
 }
 header .song_side .content .buttons button:nth-child(2):hover{
    border: 2px solid #36e2ec;
    background: #36e2ec;
    color: #fff;
 }
 header .song_side .popular {
     width: 90%;
     height: auto;
     margin: auto;
     margin-top: 15px;
 }
 header .song_side .popular .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 header .song_side .popular .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
 }
 header .song_side .popular .h4 .bi:hover{
    color: #fff;
 }
 header .song_side .popular .pop_song .song-list-1 {
     width: 100%;
     height: 180px;
     margin-top: 15px;
     display: flex;
     overflow-x: auto;
     scroll-behavior: smooth;
 }
 header .song_side .popular .pop_song .song-list-1::-webkit-scrollbar{
    display: none;
 }
 header .song_side .popular .pop_song .song-list-1 li{
     min-width: 150px;
     height: 140px;
     list-style-type: none;
     margin-right: 10px;
     transition: .3s linear;
 }
 header .song_side .popular .pop_song .song-list-1 li:hover{
     background: rgb(105, 105, 170,.1);
 }
 header .song_side .popular .pop_song .song-list-1 li .img_play{
    position: relative;
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 header .song_side .popular .pop_song .song-list-1 li .img_play img{
    width: 100%;
    height: 100%;
 }
 header .song_side .popular .pop_song .song-list-1 li .img_play .bi{
   position: absolute;
   font-size: 20px;
   cursor: pointer;
   transition: .3s linear;
   opacity: 0;
 }
 header .song_side .popular .pop_song .song-list-1 li .img_play:hover .bi{
   opacity: 1;
 }
 header .song_side .popular .pop_song .song-list-1 li h5{
   padding: 5px 0px 0px 5px;
   line-height: 15px;
   font-size: 10px;
 }
 header .song_side .popular .pop_song .song-list-1 li h5 .subtitle{
   font-size: 9px;
   color: rgb(168, 168, 168);
 }
  header .song_side .popular .pop_song .song-list-1 {
     width: 100%;
     height: 180px;
     margin-top: 15px;
     display: flex;
     overflow-x: auto;
     scroll-behavior: smooth;
 }
 header .song_side .popular .pop_song .song-list-1::-webkit-scrollbar{
    display: none;
 }
 header .song_side .popular .pop_song .song-list-1 li{
     min-width: 150px;
     height: 140px;
     list-style-type: none;
     margin-right: 10px;
     transition: .3s linear;
 }
 header .song_side .popular .pop_song .song-list-1 li:hover{
     background: rgb(105, 105, 170,.1);
 }
 header .song_side .popular .pop_song .song-list-1 li .img_play{
    position: relative;
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 header .song_side .popular .pop_song .song-list-1 li .img_play img{
    width: 100%;
    height: 100%;
 }
 header .song_side .popular .pop_song .song-list-1 li .img_play .bi{
   position: absolute;
   font-size: 20px;
   cursor: pointer;
   transition: .3s linear;
   opacity: 0;
 }
 header .song_side .popular .pop_song .song-list-1 li .img_play:hover .bi{
   opacity: 1;
 }
 header .song_side .popular .pop_song .song-list-1 li h5{
   padding: 5px 0px 0px 5px;
   line-height: 15px;
   font-size: 10px;
 }
 header .song_side .popular .pop_song .song-list-1 li h5 .subtitle{
   font-size: 9px;
   color: rgb(168, 168, 168);
 }
 footer .master_play {
    position: fixed;
    margin: 0 5%;
    bottom: 1%;
    left: 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4869c4;
    box-shadow: 0px 3px 8px #ebeef7;
    border-radius: 50px 20px;
    padding: 5px 10px; 
    z-index: 3;
}
 footer .master_play .wave{
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}
footer .master_play .wave .wave1{
    width: 3px;
    height: 10px;
    margin-right: 3px ;
    border-radius: 10px 10px 0px 0px ;
    background: #36e2ec;
    animation: unset;
}
footer .master_play .wave .wave1:nth-child(2){
    height: 13px;
}
footer .master_play .wave .wave1:nth-child(3){
    height: 8px;
}
/* javascript class wave  */
footer .master_play .active2 .wave1{
    animation: wave .5s linear infinite;
}
footer .master_play .active2 .wave1:nth-child(2){
    animation-delay: .4s;
}
footer .master_play .active2 .wave1:nth-child(3){
    animation-delay: .8s;
}

@keyframes wave {
    0%{
        height: 10px;
        transform: scale(0.09); 
    }
    50%{
        height: 15px;
        transform: scale(1.2); 
    }
    100%{
        height: 10px;
        transform: scale(1); 
    }
}
footer .master_play img {
    width: 35px;
    height: 35px;
}
footer .master_play h5 {
    width: 130px;
    font-size: 13px;
    margin-left: 15px;
    color: #fff;
    line-height: 17px;
}
footer .master_play h5 .subtitle{
   font-size: 11px;
   color: rgb(168, 168, 168);
}
footer .master_play .icon{
   font-size: 20px;
   color: #fff;
   margin: 5px;
   outline: none;
   display: flex;
   align-items: center;
}
footer .master_play .icon .bi{
 cursor: pointer;
 outline: none;
}
footer .master_play .icon .bi:nth-child(2){
    border-radius: 50%;
    padding: 1px 4px;
    margin: 0px 5px;
}
footer .master_play .icon .bi:nth-child(2):hover{
    border: 1px solid rgb(168, 168, 168);
}
footer .master_play span {
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
}
footer .master_play #currentStart{
    margin: 0px 0px 0px 10px;
}

footer .master_play .bar {
    position: relative;
    width: 43%;
    height: 3px;
    background: #fff;
    margin: 0px 15px 0px 10px;
}
footer .master_play .bar .bar2{
   position: absolute;
   background: #36e2ec;
   width: 0%;
   height: 100%;
   top: 0;
   transition: 1s linear;
}
footer .master_play .bar .dot{
   position: absolute;
   width: 5px;
   height: 5px;
   background: #36e2ec;
   border-radius: 50%;
   left: 0%;
   top: -1px;
   transition: 1s linear;
}
footer .master_play .bar .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border:1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}
footer .master_play .bar input{
   position: absolute;
   width: 100%;
   top: -6px;
   left: 0;
   cursor: pointer;
   z-index: 99999999;
   transition: 3s linear;
   opacity: 0;
}
footer .master_play .vol{
  position: relative;
  width: 100px;
  height: 3px;
  margin-left: 50px;
  background: #fff; 
  display: flex;
  align-items: center;
}
footer .master_play .vol .bi{
    position: absolute;
    color: #fff;
    font-size: 20px;
    left: -35px;
}
footer .master_play .vol input{
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
 }
 footer .master_play .vol .vol_bar{
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
 }
 footer .master_play .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
 }
 footer .master_play .vol .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border:1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #36e2ec;
 }

 header .song_side .popular .pop_song .song-list-2 {
    width: 100%;
    height: 180px;
    margin-top: 15px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
header .song_side .popular .pop_song .song-list-2::-webkit-scrollbar{
   display: none;
}
header .song_side .popular .pop_song .song-list-2 li{
    min-width: 150px;
    height: 140px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
}
header .song_side .popular .pop_song .song-list-2 li:hover{
    background: rgb(105, 105, 170,.1);
}
header .song_side .popular .pop_song .song-list-2 li .img_play{
   position: relative;
   width: 150px;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}
header .song_side .popular .pop_song .song-list-2 li .img_play img{
   width: 100%;
   height: 100%;
}
header .song_side .popular .pop_song .song-list-2 li .img_play .bi{
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  transition: .3s linear;
  opacity: 0;
}
header .song_side .popular .pop_song .song-list-2 li .img_play:hover .bi{
  opacity: 1;
}
header .song_side .popular .pop_song .song-list-2 li h5{
  padding: 5px 0px 0px 5px;
  line-height: 15px;
  font-size: 10px;
}
header .song_side .popular .pop_song .song-list-2 li h5 .subtitle{
  font-size: 9px;
  color: rgb(168, 168, 168);
}